<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-aes-crypt"
        version="1.0.0">
    <name>PgmAESCrypt</name>
    <js-module src="www/PgmAESCrypt.js" name="PgmAESCrypt">
        <clobbers target="PgmAESCrypt" />
    </js-module>
    <platform name="ios">
        <source-file src="src/ios/PgmAESCrypt.m" />
    </platform>
</plugin>