<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-aes-crypt"
        version="1.0.0">
    <name>AESDecrypt</name>
    <js-module src="www/AESCrypt.js" name="AESCrypt">
        <clobbers target="AESCrypt" />
    </js-module>
    <platform name="ios">
        <source-file src="src/ios/AESCrypt.m" />
    </platform>
</plugin>