<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-aes-crypt"
        version="1.0.0">
    <name>PgmAESCrypt</name>
    <js-module src="www/PgmAESCrypt.js" name="PgmAESCrypt">
        <clobbers target="PgmAESCrypt" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="PgmAESCrypt">
                <param name="ios-package" value="PgmAESCrypt" />
            </feature>
        </config-file>
		<source-file src="src/ios/PgmAESCrypt.m" />
	</platform>
</plugin>